{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css"/>
    <title>Redirects{% if title %} - {{ title }}{% endif %}</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <span class="navbar-brand">Redirects{% if title %} - {{ title }}{% endif %}</span>
            </div>
            <div class="collapse navbar-collapse">
                {% block navbar %}{% endblock %}
                <p class="navbar-text navbar-right">
                    Welcome
                    {% if user.is_authenticated %}
                    {% if user.first_name %}{{ user.first_name }}{% else %}{{ user }}{% endif %}
                    (<a href="{% url 'logout' %}">Logout</a>)
                    {% else %}
                    anonymous (<a href="{% url 'create' %}">Login</a>)
                    {% endif %}
                </p>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
