{% extends 'base.html' %}
{% block title %}Create{% endblock %}
{% block content %}
    <a href="{% url 'list' %}" class="btn btn-success"><i class="fa fa-list"></i> View redirects</a>
    <hr/>
    {% if created_keyword %}
        <div class="alert alert-success">
            <b>Success!</b> The keyword <b><a href="/{{ created_keyword }}"
                                              target="_blank">{{ created_keyword }}</a></b> has been created.
        </div>
    {% endif %}
    {% if form.non_field_errors %}
        <div class="alert alert-danger">{{ form.non_field_errors }}</div>
    {% endif %}
    <form class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="form-group{% if form.keyword.errors %} has-error{% endif %}">
            <label for="inputKeyword" class="col-lg-2 control-label">Keyword:</label>

            <div class="col-lg-6">
                <input type="text" class="form-control" id="inputKeyword" name="keyword"
                       value="{% if form.keyword.value %}{{ form.keyword.value }}{% endif %}"
                       placeholder="my-keyword-123"/>
            </div>
            {% if form.keyword.errors %}
                <div class="col-lg-4 help-block">{{ form.keyword.errors.as_text }}</div>
            {% endif %}
        </div>
        <div class="form-group{% if form.url.errors %} has-error{% endif %}">
            <label for="inputUrl" class="col-lg-2 control-label">URL:</label>

            <div class="col-lg-6">
                <input type="text" class="form-control" id="inputUrl" name="url"
                       value="{% if form.url.value %}{{ form.url.value }}{% endif %}"
                       placeholder="http://www.google.com/"/>
            </div>
            {% if form.url.errors %}
                <div class="col-lg-4 help-block">{{ form.url.errors.as_text }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label" for="id_proxy">Proxy:</label>
            <div class="col-lg-6">
                <div class="checkbox">
                    {{ form.proxy }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label" for="id_public">Public:</label>
            <div class="col-lg-6">
                <div class="checkbox">
                    {{ form.public }}
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-2">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-file"></i>
                    Create redirect
                </button>
            </div>
        </div>
    </form>
{% endblock %}
