{% extends 'base.html' %}
{% block title %}List{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
    <a href="{% url 'create' %}" class="btn btn-success"><i class="fa fa-arrow-left"></i> Create redirect</a>
    {% endif %}
    <hr/>
    {% if urls|length == 0 %}
        <div class="alert alert-info">There are no urls in the database.</div>
    {% else %}
        <table class="table table-condensed table-hover table-striped table-bordered">
            <tr>
                <th>Keyword</th>
                <th>Proxy</th>
                {% if user.is_authenticated %}<th>Public</th>{% endif %}
                <th>URL</th>
                <th>Created by</th>
                <th>Created</th>
            </tr>
            {% for url in urls %}
                {% if user.is_authenticated or url.public %}
                <tr>
                    <td>
                        <a href="{% url 'redirector' keyword=url.keyword %}" target="_blank">
                            {{ url.keyword }}
                        </a>
                    </td>
                    <td><i class="fa fa-lg {% if url.proxy %}fa-check{% else %}fa-times{% endif %}"></i></td>
                    {% if user.is_authenticated %}
                        <td><i class="fa fa-lg {% if url.public %}fa-check{% else %}fa-times{% endif %}"></i></td>
                    {% endif %}
                    <td>{{ url.url }}</td>
                    <td>{{ url.user.username }}</td>
                    <td>{{ url.created }}</td>
                    {% if user.is_authenticated %}
                    <td>
                        <form style="display: inline;" action="{% url 'delete' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="keyword" value="{{ url.keyword }}"/>
                            <button type="submit" class="btn btn-xs btn-danger">
                                <i class="fa fa-trash-o"></i> Delete
                            </button>
                        </form>
                    </td>
                    {% endif %}
                </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}